.Container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.BlackBox {
    padding: 60px 25px;
    width: 100%;
    background-color: hsla(0, 0.00%, 13.33%, 1.00);
    color: hsla(0, 0.00%, 100.00%, 1.00);
}

.BlackBoxContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.ImageContainer {
    max-width: 100%;
    margin-bottom: 40px;
}

.BlackBoxContent {
    width: 100%;
    max-width: 100%;
}

.BlackBoxContent h3 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 1.777rem;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
}

.BlackBoxContent p {
    margin-bottom: 20px;
    font-size: 1rem;
    text-align: center;
}

@media screen and (min-width: 478px) {
    .Container {
        padding-right: 25px;
        padding-left: 25px;
    }

    .BlackBox {
        border-radius: 20px;
    }
}

@media screen and (min-width: 767px) {
    .BlackBox {
        padding: 60px;
    }

    .BlackBoxContainer {
        flex-direction: row;
    }

    .BlackBoxContent {
        max-width: 45%;
    }

    .ImageContainer {
        max-width: 45%;
    }
}
