.Home {
    padding-top:60px;
    padding-bottom: 0px;
}

.Container {
    padding-right: 25px;
    padding-left: 25px;
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

.HomeWrap {
    display: flex;
    row-gap: 0px;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.HomeContentWrap {
    max-width: 100%;
    margin-bottom: 60px;
    padding-right: 0px;
    width: 100%;
}

.HomeImageWrap {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    opacity: 1;
}

.Home h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 3.157rem;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -1px;
    color: rgb(0, 171, 226);
    margin: 0.67em 0;
}

.Home p {
    max-width: 50ch;
    padding-bottom: 30px;
    font-size: 1rem;
    margin-top: 0;
}

.NewsletterContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.NewsletterContainer h6 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: 500;
}

.NewsletterForm {
    width: 100%;
    margin: 0 0 30px;
}

.NewsletterForm form input[type=text] {
    width: 85%;
    border-color: rgb(0, 171, 226);
    border-radius: 7px;
    color: black;
    min-height: 44px;
    padding: 12px 16px;
    border-style: solid;
    border-width: 1px;
    background-color: hsla(0, 0.00%, 100.00%, 1.00);
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease;
    height: 38px;
    font: inherit;
    font-size: 14px;
    line-height: 1.428571429;
    margin: 0;
    outline: none;
}

.NewsletterForm form input[type=submit] {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0.00%, 13.33%, 1.00);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: hsla(0, 0.00%, 13.33%, 1.00);
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease;
    display: inline-block;
    padding: 9px 15px;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    font: inherit;
}

.Button {
    padding: 16px 32px;
    border-width: 1px;
    border-color: rgb(0, 171, 226);
    box-shadow: none;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    border-style: none;
    border-radius: 8px;
    background-color: rgb(0, 171, 226);
    filter: brightness(100%);
    outline: transparent solid 3px;
    outline-offset: 0px;
    color: white;
    mix-blend-mode: normal;
}

.CtaButton {
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 250px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.ConnectWalletButton {
    background: rgb(32, 129, 226);
}

.MintNftButton {
    background: orange;
}

.HomeImage {
    border-radius: 20px;
}

@media screen and (min-width: 478px) {
    .heroWrap {
        flex-direction: column;
    }

    .Button {
        max-width: 200px;
    }
}

@media screen and (min-width: 767px) {
    .heroWrap {
        align-items: flex-start;
    }
}
