.NavBar {
    position: sticky;
    inset: 0% 0% auto;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.Container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 25px;
}

.NavBarWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}

.NavBar2 {
    Background: white;
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-right: 20px;
    padding-left: 20px;
}

.NavBar .SocialMediaLinks ul {
    padding-right: 15px;
}

.NavBar .SocialMediaLinks ul li {
    margin: 10px;
    padding-top: 12px;
    cursor: pointer;
}

.NavBar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavBar nav ul li {
    display: inline-block;
    margin: 20px;
}

.NavBar nav ul li a {
    text-decoration: none;
    color: black;
}

.NavBar nav ul li a:hover {
    border-bottom: 5px solid black;
}

.NavBar .MobileNavigation {
    display: none;
}

.NavBar .Navigation {
    display: flex;
}

@media (max-width: 990px) {
    .NavBar .Navigation {
        display: none;
    }

    .NavBar .MobileNavigation {
        display: flex;
        align-items: center;
    }

    .NavBar .MobileNavigation .Hamburger {
        position: absolute;
        right: 5%;
        cursor: pointer;
    }

    .NavBar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 85px;
        right: 0;
        width: 100%;
        background: #181818;
        border-top: 1px solid black;
    }

    .NavBar nav ul li {
        padding-left: 5%;
    }

    .NavBar a:hover {
        border-bottom: none;
    }
}
