.NavBar {
    position: sticky;
    inset: 0% 0% auto;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.Container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 25px;
}

.NavBarWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}

.Navigation {
    display: none;
}

.NavLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 100%;
    margin-top: 250px;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.NavLink {
    margin: 10px;
    color: hsla(0, 0.00%, 13.33%, 1.00);
    font-size: 0.8rem;
    font-weight: 400;
    border-bottom: 1px solid transparent
}

.NavLink a:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

.SocialMediaLinks {
    display: grid;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 16px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    cursor: pointer;
}

.SocialMediaLinks a {
    padding: 4px;
    color: hsla(0, 0.00%, 13.33%, 1.00);
    font-weight: 500;
    text-decoration: none;
    height: 29px;
}

.SocialMediaLinks a:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

.MobileNavigation {
    display: flex;
    align-items: center;
}

.Hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
}

@media (min-width: 991px) {
    .Container {
        padding-right: 60px;
        padding-left: 60px;
    }

    .MobileNavigation {
        display: none;
    }

    .Navigation {
        display: flex;
    }

    .NavLinks {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 0px;
        border-bottom: none;
    }

    .NavLink {
        display: inline-block;
        margin: 20px;
        color: hsla(0, 0.00%, 13.33%, 1.00);
        font-size: 0.8rem;
        font-weight: 400;
        position: relative;
        border-bottom: 1px solid transparent;
    }

    .NavLink:hover {
        border-bottom: 1px solid black;
    }
}
